<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Personal Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon.png" sizes="180x180">

  <!-- Google Fonts -->
  <link href="/lib/css/font.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-11">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/project/nediazhome.png" class="border-1px" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/img/project/nediezdashboard.png" class="border-1px" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/img/project/nediazsettings.png" class="border-1px" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <!-- <div class="col-lg-4"> -->
          <div>
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Job Search</li>
                <li><strong>Project For</strong>: Agami Technologies</li>
                <li><strong>Project URL</strong>: <a href="https://www.nediaz.com/">nediaz.com</a></li>
                <ul class="language-list addForModile mt-3">
                  <li>
                    <strong>Technologies</strong>:
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/alpine.png" class="image-size-for-logo">Alpine.js
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/node.png">Node.js
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/js.png">JavaScript
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/mongodb.png" class="width-18">MongoDB
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/nginx.png" class="width-18">NGINX
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/socket.png">Socket.io
                  </li>
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/aws.png" class="image-size-for-logo">AWS
                  </li>
                </ul>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is a verious type job search and post based project.</h2>
              <ul>
                <li>Contributed to the Nediaz, facilitating real-time communication between job seekers and various
                  job-related
                  requirements, including job listings, business partnerships, corporate employee needs, and more,
                  through the
                  development of an end-to-end chat system.</li>
                <li>Enhanced Nediaz platform with a dynamic end-to-end chat system, fostering seamless real-time
                  communication for job seekers and businesses.</li>
                <li>Streamlined job-related interactions by developing features for job listings, business partnerships,
                  and corporate employee requirements.</li>
                <li>Spearheaded the optimization of Nediaz, enabling efficient collaboration between diverse
                  stakeholders in the job market ecosystem.</li>
                <li>Elevated user experience by contributing to the development of a robust platform that addresses
                  various job-related needs with a focus on communication efficiency.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/typed.js/typed.umd.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>