<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Personal Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon.png" sizes="180x180">

  <!-- Google Fonts -->
  <link href="/lib/css/font.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-11">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/project/webtech-home.jpg" class="border-1px" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/img/project/Web-tech-login.png" class="border-1px" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/img/project/webtech-dashboard.jpg" class="border-1px" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <!-- <div class="col-lg-4"> -->
          <div>
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Content-Sharing Platform</li>
                <li><strong>GitHub URL</strong>: <a href="https://github.com/Jitendra-Bakolia/WebTech/"
                    target="_blank">WebTech</a></li>
                <ul class="language-list addForModile mt-3">
                  <li>
                    <strong>Technologies</strong>:
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/java.png">Advance Java
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/jsp.png">JSP
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/js.png">JavaScript
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/jquery.png">jQuery
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/bootstrap.png" class="width-18">Bootstrap
                  </li>
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/tomcat.png">Apache Tomcat
                  </li>
                  <li class="language-item height-30 pt-1 pb-1 mt-0">
                    <img src="/img/lang/mysql.png">MySQL
                  </li>
                </ul>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is a Content-Sharing Platform.</h2>
              <ul>
                <li>Developed a website with a robust registration system featuring comprehensive validations and a
                  secure login system, ensuring user data integrity and security.</li>
                <li>Designed a dynamic content-sharing platform where users can create and interact with posts across a
                  wide range of computer programming categories, including Java, JavaScript, CSS3, HTML, Ruby, and more.
                </li>
                <li>Implemented user-centric features such as post management (creation, viewing, and deletion), user
                  profile customization (including profile picture and password updates), and user-to-user interactions
                  such as
                  liking and commenting on posts.</li>
                <li>Empowered users with full control over their accounts, allowing them to delete their accounts while
                  ensuring automatic removal of all their associated posts, ensuring a seamless user experience.</li>
                <li>Implemented seamless social interaction by integrating a Facebook plugin, enabling users to easily
                  like, comment, and share posts, enhancing user engagement and social sharing capabilities on the
                  platform.</li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/typed.js/typed.umd.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>